<!DOCTYPE html>
<html lang="en-ca">
<head>
    <%- partial('../partials/head') %>
</head>
<body>
    <%- partial('../partials/header') %>
    <%- body %>
    <%- partial('../partials/footer') %>
</body>
</html>