nav {
  margin-bottom: 0 !important;
}
@keyframes animatedBackground {
  from { background-position: 512px 0; }
  to { background-position: 0 0; }
}
#game-window{
  position: relative;
  width: 100%;
  height: calc(100vh - 119px);
  &:before{
    content: " ";
    position: absolute;
    background-color: #2384c6;
    background-image: url("/images/GameBG.png");
    background-repeat: repeat-x;
    background-size: auto auto;
    animation: animatedBackground 750ms linear infinite;
    width: 100%;
    height: 100%;
  }
}
#game-score, #game-menu-button{
  font-family: monospace;
  display: flex;
  border-bottom: solid 1px #777;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  padding: 0.5em 1em;
  background-color: #aaa;
  font-weight: bold;
  height: 50px;
  width: 100px;
}
#game-score{
  top: 0;
  left: 0;
  border-bottom-right-radius: 1em;
  border-right: solid 1px #777;
}
#game-menu-button{
  top: 0;
  right: 0;
  border-bottom-left-radius: 1em;
  border-left: solid 1px #777;
}