<%- layout('../layouts/layout') %>
<main>
    <script src="/scripts/game-client.js"></script>
    <link rel="stylesheet" href="/stylesheets/game.css">
    <div id="game-window">
        <span class="sr-only">
            Unfortunately, the game on this page is not screen reader friendly. We apologize for the inconvenience.
        </span>
        <span id="game-score">
            Score:<br>0
        </span>
        <span id="game-menu-button">
            <a class="btn btn-primary btn-sm">
                <i class="fa fa-bars fa-fw"></i>
                Menu
            </a>
        </span>
    </div>
</main>
